- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: archive.yaml
  when:
  - yq_v is version(installed_yq_v, 'ne')
