- name: Check if binary already exists in $PATH
  ansible.builtin.shell: 'command -v {{ yq_bin }}'
  register: yq_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get installed version if any
  ansible.builtin.shell: '{{ yq_bin }} --version | grep -E -o "v[0-9]+\.[0-9]+\.[0-9]+"'
  register: __check_yq_v_task
  ignore_errors: true
  changed_when: false

- name: Register preflight fact
  ansible.builtin.set_fact:
    __installed_yq_v: "{{ __check_yq_v_task.stdout | default('v0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: >-
      Installed version: {{ __installed_yq_v if __check_yq_v_task is success else "Not installed" }}
