direnv_v: v2.37.1

direnv_sha256sum: ""

_direnv_nov: "{{ direnv_v | regex_replace('^v', '') }}"

direnv_arch_map:
  x86_64: "amd64"
  i386: "386"
  aarch64: "arm64"

direnv_system_map:
  Darwin: darwin
  Linux: linux

direnv_arch: "{{ direnv_arch_map[ansible_facts.architecture] }}"
direnv_system: "{{ direnv_system_map[ansible_facts.system] }}"

direnv_release_base_url: https://github.com/direnv/direnv/releases/download
direnv_release_url: '{{ direnv_release_base_url }}/v{{ _direnv_nov }}/direnv.{{ direnv_system }}-{{ direnv_arch }}'

direnv_bin: direnv
# direnv_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
direnv_bin_dst_default: /usr/local/bin
direnv_bin_dst_effective: >-
  {{ (direnv_bin_dst | default(tools_bin_dst | default(direnv_bin_dst_default))) }}
