- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: archive.yaml
  when:
  - terragrunt_atlantis_config_v is version(installed_terragrunt_atlantis_config_v, 'ne')
