- name: Creating extraction dir {{ delta_full_download_path }}
  ansible.builtin.file:
    path: '{{ delta_full_download_path }}'
    state: directory

- name: Unarchiving release archive to {{ delta_full_download_path }}
  ansible.builtin.unarchive:
    src: '{{ delta_release_url }}'
    dest: '{{ delta_full_download_path }}'
    remote_src: true
    extra_opts:
    - --strip-components=1
    - --show-stored-names

- name: Copying binary to {{ delta_bin_dst }}
  ansible.builtin.copy:
    src: '{{ delta_full_download_path }}/delta'
    dest: '{{ delta_bin_dst }}/{{ delta_bin }}'
    mode: '0755'
    remote_src: true

- name: Cleaning release artifacts
  ansible.builtin.file:
    path: '{{ delta_full_download_path }}'
    state: absent
