- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: archive.yaml
  when:
  - delta_v is version(installed_delta_v, 'ne')
  - not delta_install_deb
  - not delta_brew

- name: Deb package installation
  ansible.builtin.include_tasks: deb.yaml
  when:
  - ansible_facts['os_family'] == "Debian"
  - delta_install_deb
  - delta_v is version(installed_delta_v, 'ne')
  - not delta_brew

- name: MacOS homebrew installation
  ansible.builtin.include_tasks: brew.yaml
  when:
  - delta_v is version(installed_delta_v, 'ne')
  - delta_brew
  - ansible_facts['system'] == 'Darwin'
