sops_v: v3.12.1

_sops_nov: "{{ sops_v | regex_replace('^v', '') }}"

sops_arch_map:
  x86_64: amd64
  aarch64: arm64

sops_system_map:
  Darwin: darwin
  Linux: linux

sops_install_from_package: true
# deb or rpm

sops_arch: "{{ sops_arch_map[ansible_facts.architecture] }}"
sops_system: "{{ sops_system_map[ansible_facts.system] }}"

sops_release_base_url: https://github.com/getsops/sops/releases/download

sops_binary_artifact_name: sops-{{ sops_v }}.{{ sops_system }}.{{ sops_arch }}
sops_release_url: '{{ sops_release_base_url }}/{{ sops_v }}/{{ sops_binary_artifact_name }}'

sops_bin: sops
# sops_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
sops_bin_dst_default: /usr/local/bin
sops_bin_dst_effective: >-
  {{ (sops_bin_dst | default(tools_bin_dst | default(sops_bin_dst_default))) }}
