- name: Download and install kubectx
  ansible.builtin.get_url:
    url: "{{ kubectx_bash_release_url }}"
    dest: "{{ kubectx_bin_dst_effective }}/{{ kubectx_bin }}"
    mode: '0755'
    force: "{{ kubectx_force_download | default(false) }}"
  register: __kubectx_download_status
  retries: 3
  delay: 10
  until: __kubectx_download_status is succeeded

- name: Download and install kubens
  ansible.builtin.get_url:
    url: "{{ kubens_bash_release_url }}"
    dest: "{{ kubectx_bin_dst_effective }}/{{ kubens_bin }}"
    mode: '0755'
    force: "{{ kubectx_force_download | default(false) }}"
  register: __kubens_download_status
  retries: 3
  delay: 10
  until: __kubens_download_status is succeeded
