- name: Creating extraction dir {{ kubectx_full_download_path }}
  ansible.builtin.file:
    path: '{{ kubectx_full_download_path }}'
    state: directory
    mode: '0755'
  notify: Clean downloaded artifacts

- name: Getting kubectx release archive
  ansible.builtin.unarchive:
    src: '{{ kubectx_release_url }}'
    dest: '{{ kubectx_full_download_path }}'
    remote_src: true

- name: Getting kubens release archive
  ansible.builtin.unarchive:
    src: '{{ kubens_release_url }}'
    dest: '{{ kubectx_full_download_path }}'
    remote_src: true

- name: Moving kubectx binary to {{ kubectx_bin_dst_effective }}
  ansible.builtin.copy:
    src: '{{ kubectx_full_download_path }}/kubectx'
    dest: '{{ kubectx_bin_dst_effective }}/{{ kubectx_bin }}'
    mode: '0755'
    remote_src: true

- name: Moving kubens binary to {{ kubectx_bin_dst_effective }}
  ansible.builtin.copy:
    src: '{{ kubectx_full_download_path }}/kubens'
    dest: '{{ kubectx_bin_dst_effective }}/{{ kubens_bin }}'
    mode: '0755'
    remote_src: true
