- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: kubectx/kubens bash scripts installation
  ansible.builtin.include_tasks: bash-release.yaml
  when:
  - not kubectx_go

- name: kubectx/kubens go binaries installation
  ansible.builtin.include_tasks: go-release.yaml
  when:
  - kubectx_go
  - __kubectx_nov_v is version(installed_kubectx_v, 'ne')
