fd_v: v10.3.0

_fd_nov: "{{ fd_v | regex_replace('^v', '') }}"

fd_musl: false

_fd_deb_arch_map:
  x86_64: amd64
  aarch64: arm64

_fd_sys_map:
  Linux: unknown-linux
  Darwin: apple-darwin
  Win32NT: pc-windows

_fd_deb_arch: "{{ _fd_deb_arch_map[ansible_facts['architecture']] }}"
_fd_sys: "{{ _fd_sys_map[ansible_facts['system']] }}"

fd_install_deb: true

fd_release_base_url: https://github.com/sharkdp/fd/releases/download/{{ fd_v }}
fd_release_archive_name: fd-{{ fd_v }}-{{ ansible_facts['architecture'] }}-{{ _fd_sys }}-{{ 'gnu' if not fd_musl else 'musl' }}.tar.gz
fd_release_url: "{{ fd_release_base_url }}/{{ fd_release_archive_name }}"
fd_deb_release_url: "{{ fd_release_base_url }}/fd{{ '-musl' if fd_musl }}_{{ _fd_nov }}_{{ _fd_deb_arch }}.deb"

fd_archive_download_dst: /tmp
fd_full_download_path: '{{ fd_archive_download_dst }}/fd_{{ _fd_nov }}'

fd_bin_dst: /usr/local/bin
fd_bin: fd

fd_brew: false
fd_brew_package: fd
fd_brew_state: latest
