- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Deploying from github release
  ansible.builtin.include_tasks: release.yaml
  when:
  - _nvm_nov is version(_installed_nvm_v, 'ne')

- name: Configure Node with NVM
  ansible.builtin.include_tasks: node.yaml
  when:
  - _task_stat_nvm_sh.stat.exists
  - _check_node_v_task is failed
  - nvm_manage_node
