repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: mixed-line-ending
  - id: check-case-conflict
  - id: check-symlinks
  - id: check-added-large-files
  - id: check-json
  - id: check-yaml
    args: [--allow-multiple-documents]
