
# if server
# if server config file defined
# if repos file is defined
# etc

{% if atlantis_env_config is defined %}
{% for key, value in atlantis_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
