- name: Check if binary already exists
  ansible.builtin.shell: 'command -v {{ kustomize_bin }}'
  register: kustomize_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get current version if any
  ansible.builtin.shell: '{{ kustomize_bin }} version'
  register: check_kustomize_v_task
  ignore_errors: true
  changed_when: false

- name: Register preflight facts
  ansible.builtin.set_fact:
    __installed_kustomize_v: "{{ check_kustomize_v_task.stdout | default('v0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: >-
      Installed version: {{ __installed_kustomize_v if check_kustomize_v_task is success else "Not Found" }}
