- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation release binary
  ansible.builtin.include_tasks: release.yaml
  when:
  - argo_rollouts_v is version(installed_argo_rollouts_v, 'ne')
  - not argo_rollouts_brew

- name: MacOS homebrew installation
  ansible.builtin.include_tasks: brew.yaml
  when:
  - argo_rollouts_v is version(installed_argo_rollouts_v, 'ne')
  - argo_rollouts_brew
  - ansible_facts['system'] == 'Darwin'
