kind_v: v0.30.0

kind_arch_map:
  x86_64: amd64
  aarch64: arm64

kind_sys_map:
  Darwin: darwin
  Linux: linux
  Win32NT: windows

kind_arch: "{{ kind_arch_map[ansible_facts.architecture] }}"
kind_system: "{{ kind_sys_map[ansible_facts.system] }}"

kind_release_base_url: https://github.com/kubernetes-sigs/kind/releases/download
kind_release_url: '{{ kind_release_base_url }}/{{ kind_v }}/kind-{{ kind_system }}-{{ kind_arch }}'

kind_bin_download_dst: /tmp
kind_full_download_path: '{{ kind_bin_download_dst }}/kind_{{ kind_v }}'

kind_bin_dst: /usr/local/bin
kind_bin: kind

kind_brew: false
kind_brew_package: kind
kind_brew_state: latest
