- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installing awscli on the Linux OS from archive
  ansible.builtin.include_tasks: linux.yaml
  when:
  - ansible_facts.system == "Linux"
  - awscli_force_update or awscli_bin_exists is not success
