- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: release.yaml
  when:
  - _helm_v_calculated is version(_installed_helm_v, 'ne')

- name: Helm Plugins installation
  kubernetes.core.helm_plugin:
    plugin_path: "{{ item.path }}"
    state: "{{ item.state | default('present') }}"
  loop_control:
    label: "{{ item.path }}"
  loop: "{{ helm_plugins }}"
  when:
  - helm_plugins is defined
  - helm_plugins | length > 0
