- name: Check download directory
  ansible.builtin.stat:
    path: "{{ helm_archive_download_dst }}"
  register: _helm_download_dir_check
  ignore_errors: true
  changed_when: false

- name: Assert download directory exists
  ansible.builtin.assert:
    that:
    - _helm_download_dir_check.stat.exists
    - _helm_download_dir_check.stat.isdir
    fail_msg: "Directory '{{ helm_archive_download_dst }}' does not exist or is not a directory."

- name: Check binary destination directory
  ansible.builtin.stat:
    path: "{{ helm_bin_dst }}"
  register: _helm_binary_dir_check
  ignore_errors: true
  changed_when: false

- name: Assert binary destination directory exists
  ansible.builtin.assert:
    that:
    - _helm_binary_dir_check.stat.exists
    - _helm_binary_dir_check.stat.isdir
    fail_msg: "Directory '{{ helm_bin_dst }}' does not exist or is not a directory."

- name: Get current Helm version if any
  # shell: '{{ helm_bin_dst }}/{{ helm_bin }} version -c --short | grep -E -o "v[0-9]+\.[0-9]+\.[0-9]+"'
  ansible.builtin.shell: "{{ helm_bin_dst }}/{{ helm_bin }} version --template='{{ '{{' }}.Version{{ '}}' }}'"
  register: _helm_check_version_task
  ignore_errors: true
  changed_when: false

- name: Registering Preflight vars
  ansible.builtin.set_fact:
    installed_helm_v: "{{ _helm_check_version_task.stdout | default('v0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: |-
      Current Helm version: {{ installed_helm_v if _helm_check_version_task is success else "Not installed" }}
