- name: Get checksum
  when: helm_checksum_verify
  block:

  - name: Registering checksums related vars
    ansible.builtin.set_fact:
      _github_api_headers: "{{ {'GITHUB_TOKEN': lookup('ansible.builtin.env', 'GITHUB_TOKEN')} if (lookup('ansible.builtin.env', 'GITHUB_TOKEN')) else {} }}"

  # on macos ansible host will require "export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES"
  - name: Get checksum
    ansible.builtin.set_fact:
      __helm_checksum: "{{ lookup('url', helm_checksum_url, headers=_github_api_headers) }}"
    run_once: true
    retries: 10

- name: Creating helm extraction dir {{ helm_extraction_path }}
  ansible.builtin.file:
    path: '{{ helm_extraction_path }}'
    state: directory
    mode: '0755'

- name: Getting release archive
  ansible.builtin.get_url:
    url: '{{ helm_release_url }}'
    dest: '{{ helm_archive_download_dst }}/{{ helm_release_artifact }}'
    checksum: "{{ 'sha256:' + __helm_checksum if helm_checksum_verify else '' }}"
    mode: '0644'

- name: Extracting archive
  ansible.builtin.unarchive:
    src: '{{ helm_archive_download_dst }}/{{ helm_release_artifact }}'
    dest: '{{ helm_extraction_path }}'
    remote_src: true
    extra_opts:
    - --strip-components=1

- name: Copying helm binary to {{ helm_bin_dst }}
  ansible.builtin.copy:
    src: '{{ helm_extraction_path }}/helm'
    dest: '{{ helm_bin_dst }}/helm'
    mode: '0755'
    remote_src: true

- name: Cleanup
  ansible.builtin.file:
    path: '{{ item }}'
    state: absent
  loop:
  - '{{ helm_archive_download_dst }}/{{ helm_release_artifact }}'
  - '{{ helm_extraction_path }}'
  when: helm_cleanup
