- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation release binary
  ansible.builtin.include_tasks: release.yaml
  when:
  - kubeseal_v is version(installed_kubeseal_v, 'ne')
