- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Dependencies installation
  ansible.builtin.include_tasks: deps.yaml
  when: omz_manage_dependencies

- name: Oh-my-zsh setup on a Linux host
  ansible.builtin.include_tasks: ohmyzsh.yaml
  loop: "{{ omz_users }}"
  loop_control:
    loop_var: user
    label: "{{ user.name }}"
  vars:
    omz_user: "{{ user }}"
  when: ansible_facts.system != 'Darwin'
