- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Binary download and installation
  ansible.builtin.include_tasks: release.yaml
  when:
  - _direnv_nov is version(installed_direnv_v, 'ne')
