- name: Check if binary already exists in $PATH
  ansible.builtin.shell: 'command -v {{ direnv_bin }}'
  register: direnv_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get installed version if any
  ansible.builtin.shell: '{{ direnv_bin }} --version | grep -E -o "[0-9]+\.[0-9]+\.[0-9]+"'
  register: __check_direnv_v_task
  ignore_errors: true
  changed_when: false

- name: Register installed version vars
  ansible.builtin.set_fact:
    __installed_direnv_v: "{{ __check_direnv_v_task.stdout | default('0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: >-
      Installed version: {{ __installed_direnv_v if __check_direnv_v_task is success else "Not Found" }}
