- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Get checksums
  ansible.builtin.include_tasks: checksums.yaml
  when:
  - cfssl_release_verify_checksums

- name: Binary download and installation
  ansible.builtin.include_tasks: release.yaml
  when:
  - _cfssl_nov is version(installed_cfssl_v, 'ne')
