helm_v: v4.0.4
# helm_v: v3.19.4

helm_latest: false
helm_latest_v3: false

helm_archive_download_dst: /tmp
helm_cleanup: true

helm_checksum_verify: false

helm_bin: helm
# helm_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
helm_bin_dst_default: /usr/local/bin
helm_bin_dst_effective: >-
  {{ (helm_bin_dst | default(tools_bin_dst | default(helm_bin_dst_default))) }}

helm_plugins: []
# helm_plugins:
# - path: https://github.com/databus23/helm-diff
#   state: present
