helm_v: v3.19.2

# TODO not yet impelemented
latest_urls:
  # v3: https://get.helm.sh/helm-latest-version # also returns v3, at the moment of writing
  v3: https://get.helm.sh/helm3-latest-version
  v4: https://get.helm.sh/helm4-latest-version

_helm_arch_map:
  x86_64: amd64
  aarch64: arm64

_helm_arch: "{{ _helm_arch_map[ansible_architecture] }}"

helm_release_artifact: helm-{{ helm_v }}-{{ ansible_system | lower }}-{{ _helm_arch }}.tar.gz
helm_release_url: https://get.helm.sh/{{ helm_release_artifact }}
helm_archive_download_dst: /tmp
helm_extraction_path: '{{ helm_archive_download_dst }}/helm-{{ helm_v }}'
helm_cleanup: true

helm_checksum_verify: false
helm_checksum_url: "{{ helm_release_url }}.sha256"

helm_bin: helm
helm_bin_dst: /usr/local/bin

helm_brew: false
helm_brew_package: helm
helm_brew_state: latest

helm_plugins: []
# helm_plugins:
# - path: https://github.com/databus23/helm-diff
#   state: present
