packer_v: 1.14.3

_packer_arch_map:
  x86_64: "amd64"
  i386: "386"
  aarch64: "arm64"

_packer_sys_map:
  Darwin: darwin
  Linux: linux
  Win32NT: windows

_packer_arch: "{{ _packer_arch_map[ansible_facts.architecture] }}"
_packer_sys: "{{ _packer_sys_map[ansible_facts.system] }}"

packer_release_base_url: https://releases.hashicorp.com/packer
packer_release_url: '{{ packer_release_base_url }}/{{ packer_v }}/packer_{{ packer_v }}_{{ _packer_sys }}_{{ _packer_arch }}.zip'

packer_archive_download_dst: /tmp
packer_full_download_path: '{{ packer_archive_download_dst }}/packer-{{ packer_v }}'

packer_bin_dst: /usr/local/bin
packer_bin: packer

packer_brew: false
packer_brew_package: hashicorp/tap/packer
packer_brew_state: latest
