- name: Install APT related packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  become: true
  loop:
  - apt-transport-https
  - apt-utils
  - software-properties-common
  - gnupg2

- name: Install Kubernetes APT signing key
  ansible.builtin.shell: curl -fsSL {{ _kubernetes_repo_gpgkey }} | gpg --dearmor -o {{ kubernetes_apt_gpg_path }}
  args:
    creates: "{{ kubernetes_apt_gpg_path }}"

- name: Add Kubernetes APT repo
  ansible.builtin.apt_repository:
    repo: deb [signed-by={{ kubernetes_apt_gpg_path }}] {{ _kubernetes_repo_url }} /
    state: present
    filename: kubernetes

- name: Install kubectl via APT
  ansible.builtin.apt:
    name: kubectl
    update_cache: true
  when: _check_kubectl_v_task is failed

- name: Update kubectl to the latest/new version
  ansible.builtin.apt:
    name: kubectl
    state: latest
    update_cache: true
  when:
  - kubectl_v is version(_installed_kubectl_v, 'ne')
  - _check_kubectl_v_task is success
