- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Binary installation
  ansible.builtin.include_tasks: binary.yaml
  when:
  - kubectl_v is version(_installed_kubectl_v, 'ne')
  - not kubernetes_repo

- name: DEB installation
  ansible.builtin.import_tasks: apt.yaml
  become: true
  when:
  - kubectl_v is version(_installed_kubectl_v, 'ne')
  - ansible_facts.os_family == 'Debian'
  - kubernetes_repo

- name: RPM Installation
  ansible.builtin.import_tasks: rpm.yaml
  become: true
  when:
  # - kubectl_v is version(_installed_kubectl_v, 'ne')
  - ansible_facts.os_family == 'RedHat'
  - kubernetes_repo
