- name: Get latest kubectl version
  ansible.builtin.set_fact:
    kubectl_v: "{{ lookup('url', 'https://dl.k8s.io/release/stable.txt') }}"
  when: kubectl_latest

- name: Check if binary already exists in $PATH
  ansible.builtin.shell: command -v {{ kubectl_bin }}
  register: kubectl_bin_exists
  ignore_errors: true
  changed_when: false

# Avoiding jq dependency with -o json output :)
- name: Get installed version if any
  ansible.builtin.shell: kubectl version --client -o json | grep -i gitversion | grep -E -o "v[0-9]+\.[0-9]+\.[0-9]+"
  register: _check_kubectl_v_task
  ignore_errors: true
  changed_when: false

- name: Register installed version
  ansible.builtin.set_fact:
    _installed_kubectl_v: "{{ _check_kubectl_v_task.stdout | default('v0.0.0', true) }}"
    _kubernetes_major_minor_v: "{{ kubectl_v | regex_replace('(v[0-9]+\\.[0-9]+)\\.[0-9]+', '\\1') }}"

- name: Reporting installing version
  ansible.builtin.debug:
    msg: >-
      Installed version: {{ _installed_kubectl_v if _check_kubectl_v_task is success else "Not Found" }}

- name: Load a variable file based on the OS type, or a default if not found. Using free-form to specify the file.
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
      - '{{ansible_facts.distribution}}.yaml'
      - '{{ansible_facts.os_family}}.yaml'
      paths:
      - 'vars'
