- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Make sure bzip2 exists
  ansible.builtin.package:
    name: bzip2
    state: present

- name: Installation from release archive
  ansible.builtin.include_tasks: release.yaml
  when:
  - _restic_nov is version(installed_restic_v, 'ne')
