kubectl_v: v1.34.2
kubectl_latest: false

# Upload kubectl binary from ansible host
kubectl_upload: false
kubectl_bin_path_on_control_host: ""

# Manage kubernetes repository
kubernetes_repo: false
kubernetes_repo_enabled: true
kubernetes_repo_gpg_check: true
kubernetes_apt_gpg_path: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
kubernetes_rpm_excludes: ""
kubernetes_rpm_repo_extra_config: ""

_kubectl_arch_map:
  x86_64: "amd64"
  aarch64: "arm64"

_kubectl_sys_map:
  Darwin: darwin
  Linux: linux
  Win32NT: windows

_kubectl_arch: "{{ _kubectl_arch_map[ansible_facts['architecture']] }}"
_kubectl_sys: "{{ _kubectl_sys_map[ansible_facts['system']] }}"

kubectl_release_artifact_name: kubectl{{ '.exe' if ansible_facts['system'] == 'Win32NT' }}
kubectl_release_url: https://dl.k8s.io/release/{{ kubectl_v }}/bin/{{ _kubectl_sys }}/{{ _kubectl_arch }}/{{ kubectl_release_artifact_name }}
kubectl_checksum_verify: false
kubectl_checksum_url: "{{ kubectl_release_url }}.sha256"

kubectl_bin_dst: /usr/local/bin
kubectl_bin: kubectl

kubectl_brew: false
kubectl_brew_package: kubectl
kubectl_brew_state: latest
