- name: Check if binary already exists in $PATH
  ansible.builtin.shell: command -v {{ zoxide_bin }}
  register: zoxide_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get installed version if any
  ansible.builtin.shell: zoxide --version | grep -E -o "[0-9]+\.[0-9]+\.[0-9]+"
  register: __check_zoxide_v_task
  ignore_errors: true
  changed_when: false

- name: Register preflight facts
  ansible.builtin.set_fact:
    __installed_zoxide_v: "{{ __check_zoxide_v_task.stdout | default('0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: >-
      Installed version: {{ __installed_zoxide_v if __check_zoxide_v_task is success else "Not Found" }}

- name: Check if man path exists
  ansible.builtin.stat:
    path: "{{ man_base_path }}"
  register: _man_base_dir_check
  when: zoxide_deploy_man

- name: Check completions destinations
  when: zoxide_deploy_completions_zsh
  block:

  - name: Check if Bash completions path exists
    ansible.builtin.stat:
      path: "{{ bash_completions_path }}"
    register: _bash_completions_dst_check

  - name: Check if ZSH completions path exists
    ansible.builtin.stat:
      path: "{{ zsh_completions_path }}"
    register: _zsh_completions_dst_check

  - name: Check if Fish completions path exists
    ansible.builtin.stat:
      path: "{{ fish_completions_path }}"
    register: _fish_completions_dst_check
