- name: Check if binary already exists in $PATH
  ansible.builtin.shell: command -v {{ zoxide_bin }}
  register: zoxide_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get installed version if any
  ansible.builtin.shell: zoxide --version | grep -E -o "[0-9]+\.[0-9]+\.[0-9]+"
  register: __check_zoxide_v_task
  ignore_errors: true
  changed_when: false

- name: Register preflight facts
  ansible.builtin.set_fact:
    __installed_zoxide_v: "{{ __check_zoxide_v_task.stdout | default('0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: >-
      Installed version: {{ __installed_zoxide_v if __check_zoxide_v_task is success else "Not Found" }}
