- name: Getting release archive
  ansible.builtin.get_url:
    url: '{{ zoxide_release_url }}'
    dest: '{{ zoxide_archive_download_dst }}/{{ zoxide_archive_name }}'
    mode: '0644'

- name: Creating extraction dir {{ zoxide_extraction_dst }}
  ansible.builtin.file:
    path: '{{ zoxide_extraction_dst }}'
    state: directory
    mode: '0755'

- name: Extracting archive
  ansible.builtin.unarchive:
    src: '{{ zoxide_archive_download_dst }}/{{ zoxide_archive_name }}'
    dest: '{{ zoxide_extraction_dst }}'
    remote_src: true

- name: Deploying binary to {{ zoxide_bin_dst_effective }}
  ansible.builtin.copy:
    src: '{{ zoxide_extraction_dst }}/zoxide'
    dest: '{{ zoxide_bin_dst_effective }}/{{ zoxide_bin }}'
    mode: '0755'
    remote_src: true

- name: Deploy man
  when:
  - zoxide_deploy_man
  - _man_base_dir_check.stat.exists
  block:
  - name: Locate man pages
    ansible.builtin.find:
      paths: "{{ zoxide_extraction_dst }}/man"
      file_type: file
      recurse: true
    register: _found_zoxide_man_pages
    changed_when: false

  - name: Deploying man pages
    ansible.builtin.copy:
      src: "{{ item.path }}"
      dest: "{{ _man_base_dir_check.stat.path }}/man{{ item.path | ansible.builtin.basename | regex_search('[0-9]+$') }}/{{ item.path | ansible.builtin.basename }}"
      mode: '0644'
      remote_src: true
    loop: "{{ _found_zoxide_man_pages.files }}"
    loop_control:
      label: "{{ item.path }}"

- name: Deploying zsh completions
  ansible.builtin.copy:
    src: '{{ zoxide_extraction_dst }}/completions/_zoxide'
    dest: '{{ _zsh_completions_dst_check.stat.path }}/_zoxide'
    mode: '0644'
    remote_src: true
  when: zoxide_deploy_completions_zsh

- name: Deleting downloaded artifacts
  ansible.builtin.file:
    path: '{{ item }}'
    state: absent
  loop:
  - '{{ zoxide_extraction_dst }}'
  - '{{ zoxide_archive_download_dst }}/{{ zoxide_archive_name }}'
