opentofu_v: v1.11.5

_opentofu_sys_map:
  Darwin: darwin
  Linux: linux

_opentofu_arch_map:
  x86_64: amd64
  aarch64: arm64

_opentofu_sys: "{{ _opentofu_sys_map[ansible_facts.system] }}"
_opentofu_arch: "{{ _opentofu_arch_map[ansible_facts.architecture] }}"

_opentofu_nov_v: "{{ opentofu_v | regex_replace('^v', '') }}"
opentofu_release_base_url: https://github.com/opentofu/opentofu/releases/download
opentofu_release_archive_name: tofu_{{ _opentofu_nov_v }}_{{ _opentofu_sys }}_{{ _opentofu_arch }}.zip
opentofu_release_url: '{{ opentofu_release_base_url }}/{{ opentofu_v }}/{{ opentofu_release_archive_name }}'

opentofu_checksums_verify: false
opentofu_checksums_url: '{{ opentofu_release_base_url }}/{{ opentofu_v }}/tofu_{{ _opentofu_nov_v }}_SHA256SUMS'

opentofu_archive_download_dst: /tmp
opentofu_full_download_path: '{{ opentofu_archive_download_dst }}/opentofu-{{ opentofu_v }}'

opentofu_bin: tofu
# opentofu_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
opentofu_bin_dst_default: /usr/local/bin
opentofu_bin_dst_effective: >-
  {{ (opentofu_bin_dst | default(tools_bin_dst | default(opentofu_bin_dst_default))) }}
