- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Deploying github release
  ansible.builtin.include_tasks: release.yaml
  when:
  - _kind_nov is version(_installed_kind_v, 'ne') or kind_force_reinstall
