- name: Check if kind command exists
  ansible.builtin.shell: 'command -v {{ kind_bin }}'
  register: kind_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get current kind version if any
  ansible.builtin.shell: '{{ kind_bin }} version --quiet'
  register: _check_kind_v_task
  ignore_errors: true
  changed_when: false

- name: Get current helmfile version components
  ansible.builtin.set_fact:
    _installed_kind_v: "{{ _check_kind_v_task.stdout | default('0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: 'Installed version: {{ _installed_kind_v if _check_kind_v_task is success else "Not Found" }}'
