- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Install compilation dependencies
  ansible.builtin.include_tasks: deps.yaml

- name: Install pyenv from git repo
  ansible.builtin.include_tasks: source.yaml

# enable yaml strout callback plugin for better output
- name: Pyenv post-installation instructions
  ansible.builtin.debug:
    msg: |-
      Docs https://github.com/pyenv/pyenv?tab=readme-ov-file#installation

      Preffered method: Add the following to your shell profile file (e.g. ~/.bashrc, ~/.zshrc, ~/.bash_profile or ~/.profile):

        # for Bash
        export PYENV_ROOT="$HOME/.pyenv"
        [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
        eval "$(pyenv init - bash)"

        # for Zsh
        export PYENV_ROOT="$HOME/.pyenv"
        [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
        eval "$(pyenv init - zsh)"

      For oh-my-zsh you can try plugin https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/pyenv
