zoxide_v: v0.9.8

_zoxide_nov: "{{ zoxide_v | regex_replace('^v', '') }}"

zoxide_arch_map:
  x86_64: x86_64
  aarch64: aarch64

zoxide_system_map:
  Darwin: apple-darwin
  Linux: unknown-linux

zoxide_clib_map:
  Linux: musl

zoxide_arch: "{{ zoxide_arch_map[ansible_facts['architecture']] }}"
zoxide_system: "{{ zoxide_system_map[ansible_facts['system']] }}"

zoxide_release_base_url: https://github.com/ajeetdsouza/zoxide/releases/download
zoxide_archive_name: zoxide-{{ _zoxide_nov }}-{{ zoxide_arch }}-{{ zoxide_system }}{{ "-musl" if ansible_facts['system'] == "Linux" }}.tar.gz
zoxide_release_url: '{{ zoxide_release_base_url }}/v{{ _zoxide_nov }}/{{ zoxide_archive_name }}'

zoxide_archive_download_dst: /tmp
zoxide_extraction_dst: '{{ zoxide_archive_download_dst }}/zoxide-{{ _zoxide_nov }}'

zoxide_bin_dst: "/usr/local/bin"
zoxide_bin: zoxide

zoxide_deploy_man: true
man_base_path: /usr/share/man

zoxide_zsh_completions_install: false
zsh_completions_path: /usr/local/share/zsh/site-functions

zoxide_brew: false
zoxide_brew_package: zoxide
zoxide_brew_state: latest
