- name: Creating extraction dir
  ansible.builtin.file:
    path: "{{ k9s_extraction_path}}"
    state: directory
    mode: "0755"

- name: Getting release archive
  ansible.builtin.get_url:
    url: "{{ k9s_release_url }}"
    dest: "{{ k9s_archive_download_dst }}/{{ k9s_release_artifact_name }}"
    checksum: "{{ __k9s_release_artifact_checksum }}"
    mode: "0644"

- name: Extracting archive to {{ ruff_extraction_path }}
  ansible.builtin.unarchive:
    src: "{{ k9s_archive_download_dst }}/{{ k9s_release_artifact_name }}"
    dest: "{{ k9s_extraction_path }}"
    remote_src: true

- name: Deploying binary
  ansible.builtin.copy:
    src: "{{ k9s_extraction_path }}/k9s"
    dest: "{{ k9s_bin_dst_effective }}/{{ k9s_bin }}"
    mode: "0755"
    remote_src: true

- name: Post deploy cleanup
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
  - "{{ k9s_archive_download_dst }}/{{ k9s_release_artifact_name }}"
  - "{{ k9s_extraction_path }}"
  when: k9s_post_cleanup
