- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: archive.yaml
  when:
  - atlantis_v is version(installed_atlantis_v, 'ne')
  - not atlantis_brew

- name: MacOS homebrew installation
  ansible.builtin.include_tasks: brew.yaml
  when:
  - atlantis_v is version(installed_atlantis_v, 'ne')
  - ansible_facts['system'] == 'Darwin'
  - atlantis_brew

- name: Atlantis server configuration
  ansible.builtin.include_tasks: config.yaml
  when: atlantis_server
