argo_rollouts_v: v1.8.4

argo_rollouts_sys_map:
  Darwin: darwin
  Linux: linux

argo_rollouts_arch_map:
  x86_64: amd64
  aarch64: arm64

argo_rollouts_sys: "{{ argo_rollouts_sys_map[ansible_facts.system] }}"
argo_rollouts_arch: "{{ argo_rollouts_arch_map[ansible_facts.architecture] }}"

argo_rollouts_release_base_url: https://github.com/argoproj/argo-rollouts/releases/download
argo_rollouts_release_binary_name: kubectl-argo-rollouts-{{ argo_rollouts_sys }}-{{ argo_rollouts_arch }}
argo_rollouts_release_url: "{{ argo_rollouts_release_base_url }}/{{ argo_rollouts_v }}/{{ argo_rollouts_release_binary_name }}"

argo_rollouts_checksum_verify: false
argo_rollouts_checksum_url: "{{ argo_rollouts_release_base_url }}/{{ argo_rollouts_v }}/argo-rollouts-checksums.txt"

argo_rollouts_bin: kubectl-argo-rollouts
# argo_rollouts_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
argo_rollouts_bin_dst_default: /usr/local/bin
argo_rollouts_bin_dst_effective: >-
  {{ (argo_rollouts_bin_dst | default(tools_bin_dst | default(argo_rollouts_bin_dst_default))) }}
