- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Deploy from release archive
  ansible.builtin.include_tasks: release.yaml
  when:
  - ripgrep_v is version(_installed_ripgrep_v, 'ne')
  - not ripgrep_os_package | bool
  - not ripgrep_brew | bool

- name: Install ripgrep on a Debian based OS
  ansible.builtin.include_tasks: debian.yaml
  when:
  - ansible_facts["os_family"] == "Debian"
  - ripgrep_os_package | bool
  - not ripgrep_brew | bool

- name: Install ripgrep on a RedHat based OS
  ansible.builtin.include_tasks: redhat.yaml
  when:
  - ansible_facts["os_family"] == "RedHat"
  - ripgrep_os_package | bool
  - not ripgrep_brew | bool

- name: MacOS homebrew installation
  ansible.builtin.include_tasks: brew.yaml
  when:
  - ripgrep_brew | bool
  - ansible_facts["os_family"] == "Darwin"
