- name: Install ripgrep from EPEL packages
  when:
  - not ansible_facts["distribution"] == "Fedora"
  - not ripgrep_uninstall
  block:
  - name: Install epel-release
    ansible.builtin.dnf:
      name: epel-release
      state: present

  - name: Install ripgrep from epel
    ansible.builtin.dnf:
      name: ripgrep
      state: present

- name: Install ripgrep on Fedora
  ansible.builtin.dnf:
    name: ripgrep
    state: present
  when:
  - ansible_facts["distribution"] == "Fedora"
  - not ripgrep_uninstall

- name: Uninstall ripgrep
  ansible.builtin.dnf:
    name: ripgrep
    state: absent
  when:
  - ripgrep_uninstall
