- name: Git pull fzf repo
  ansible.builtin.git:
    repo: "{{ fzf_git_repo }}"
    dest: ~/.fzf
    depth: 1
    version: "{{ fzf_git_ref }}"
  when: _fzf_nov is version(__installed_fzf_v, 'ne') or fzf_force_install

- name: Install fzf using script
  ansible.builtin.shell: ~/.fzf/install {{ fzf_install_script_args }}
  register: fzf_installation_output
  when: _fzf_nov is version(__installed_fzf_v, 'ne') or fzf_force_install
