kubie_v: v0.26.1

_kubie_nov: "{{ kubie_v | regex_replace('^v', '') }}"

kubie_arch_map:
  x86_64: amd64
  aarch64: arm64

kubie_arch: "{{ kubie_arch_map[ansible_facts.architecture] }}"

kubie_release_base_url: https://github.com/sbstp/kubie/releases/download
kubie_release_url: "{{ kubie_release_base_url }}/v{{ _kubie_nov }}/kubie-{{ ansible_facts.system | lower }}-{{ kubie_arch }}"

kubie_bin: kubie
# kubie_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
kubie_bin_dst_default: /usr/local/bin
kubie_bin_dst_effective: >-
  {{ (kubie_bin_dst | default(tools_bin_dst | default(kubie_bin_dst_default))) }}
