kubie_v: v0.26.0

kubie_arch_map:
  x86_64: amd64
  aarch64: arm64

kubie_arch: "{{ kubie_arch_map[ansible_facts.architecture] }}"

kubie_release_base_url: https://github.com/sbstp/kubie/releases/download
kubie_release_url: "{{ kubie_release_base_url }}/{{ kubie_v }}/kubie-{{ ansible_facts.system | lower }}-{{ kubie_arch }}"

kubie_bin_dst: /usr/local/bin
kubie_bin: kubie
