- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from github release
  ansible.builtin.include_tasks: release.yaml
  when:
  - kubie_v is version(current_kubie_v_with_v, 'ne')
