- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from github release
  ansible.builtin.include_tasks: release.yaml
  when:
  - _kubie_nov is version(_installed_kubie_v, 'ne')
