- name: Check if binary already exists in $PATH
  ansible.builtin.shell: command -v {{ terragrunt_bin }}
  register: terragrunt_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get installed version if any
  ansible.builtin.shell: '{{ terragrunt_bin }} --version | grep -E -o "[0-9]+\.[0-9]+\.[0-9]+"'
  register: __check_terragrunt_v_task
  ignore_errors: true
  changed_when: false

- name: Register installed version vars
  ansible.builtin.set_fact:
    __installed_terragrunt_v: "{{ __check_terragrunt_v_task.stdout | default('0.0.0', true) }}"

- name: Report installed version
  ansible.builtin.debug:
    msg: 'Installed version: {{ __installed_terragrunt_v if __check_terragrunt_v_task is success else "Not Found" }}'
