fzf_v: v0.67.0

_fzf_nov: "{{ fzf_v | regex_replace('^v', '') }}"

fzf_git_repo: https://github.com/junegunn/fzf.git
fzf_git_ref: master # or a tag or "master" for latest

fzf_install_script: true
fzf_install_script_args: '--all --no-fish'
# in case if you are going to use atuin for shell history
# fzf_install_script_args: '--no-key-bindings --no-fish'

fzf_force_install: false

fzf_arch_map:
  x86_64: amd64
  i386: 32bit
  aarch64: arm64
  armv7l: armv7
  armv6l: armv6

fzf_system_map:
  Darwin: darwin
  Linux: linux
  Win32NT: windows

fzf_arch: "{{ fzf_arch_map[ansible_facts.architecture] }}"
fzf_system: "{{ fzf_system_map[ansible_facts.system] }}"
fzf_archive_ext: "{{ 'zip' if fzf_system in ['windows', 'darwin'] else 'tar.gz' }}"

fzf_release_base_url: https://github.com/junegunn/fzf/releases/download
fzf_archive_name: fzf-{{ _fzf_nov }}-{{ fzf_system }}-{{ fzf_arch }}.{{ fzf_archive_ext }}
fzf_release_url: '{{ fzf_release_base_url }}/{{ _fzf_nov }}/{{ fzf_archive_name }}'

fzf_checksum_verify: false
fzf_checksum_url: '{{ fzf_release_base_url }}/{{ _fzf_nov }}/fzf_{{ _fzf_nov }}_checksums.txt'

fzf_archive_download_dst: /tmp
fzf_extraction_dst: '{{ fzf_archive_download_dst }}/fzf-{{ _fzf_nov }}'

fzf_bin_dst: /usr/local/bin
fzf_bin: fzf
