k9s_v: v0.50.16

_k9s_nov: "{{ k9s_v | regex_replace('^v', '') }}"

k9s_arch_map:
  x86_64: amd64
  aarch64: arm64

# before v0.26.8 k9s used x86_64 instead of amd64
k9s_arch: "{{ k9s_arch_map[ansible_facts.architecture] }}"

k9s_release_base_url: https://github.com/derailed/k9s/releases/download
k9s_release_url: "{{ k9s_release_base_url }}/v{{ _k9s_nov }}/k9s_{{ ansible_facts.system }}_{{ k9s_arch }}.tar.gz"

k9s_bin: k9s

# k9s_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
k9s_bin_dst_default: /usr/local/bin
k9s_bin_dst_effective: >-
  {{ (k9s_bin_dst | default(tools_bin_dst | default(k9s_bin_dst_default))) }}

k9s_custom_config: false
