argocd_v: v3.3.1

_argocd_sys_map:
  Darwin: darwin
  Linux: linux

_argocd_arch_map:
  x86_64: amd64
  aarch64: arm64

_argocd_sys: "{{ _argocd_sys_map[ansible_facts.system] }}"
_argocd_arch: "{{ _argocd_arch_map[ansible_facts.architecture] }}"

argocd_release_base_url: https://github.com/argoproj/argo-cd/releases/download/{{ argocd_v }}
argocd_release_binary_name: argocd-{{ _argocd_sys }}-{{ _argocd_arch }}
argocd_release_url: "{{ argocd_release_base_url }}/{{ argocd_release_binary_name }}"

argocd_checksum_verify: false
argocd_checksum_url: "{{ argocd_release_base_url }}/cli_checksums.txt"

argocd_bin: argocd
# argocd_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
argocd_bin_dst_default: /usr/local/bin
argocd_bin_dst_effective: >-
  {{ (argocd_bin_dst | default(tools_bin_dst | default(argocd_bin_dst_default))) }}
