argocd_v: v3.2.2

argocd_sys_map:
  Darwin: darwin
  Linux: linux

argocd_arch_map:
  x86_64: amd64
  aarch64: arm64

argocd_sys: "{{ argocd_sys_map[ansible_facts.system] }}"
argocd_arch: "{{ argocd_arch_map[ansible_facts.architecture] }}"

argocd_release_base_url: https://github.com/argoproj/argo-cd/releases/download
argocd_release_binary_name: argocd-{{ argocd_sys }}-{{ argocd_arch }}
argocd_release_url: "{{ argocd_release_base_url }}/{{ argocd_v }}/{{ argocd_release_binary_name }}"

argocd_checksum_verify: false
argocd_checksum_url: "{{ argocd_release_base_url }}/{{ argocd_v }}/cli_checksums.txt"

argocd_bin_dst: /usr/local/bin
argocd_bin: argocd
