- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: release.yaml
  when:
  - sops_v is version(installed_sops_v, 'ne')
  - not sops_brew

- name: MacOS homebrew installation
  ansible.builtin.include_tasks: brew.yaml
  when:
  - sops_v is version(installed_sops_v, 'ne')
  - sops_brew
  - ansible_facts['system'] == 'Darwin'
