- name: Check if binary already exists in $PATH
  ansible.builtin.shell: command -v {{ sops_bin }}
  register: sops_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get installed version if any
  ansible.builtin.shell: sops --version | grep -E -o "[0-9]+\.[0-9]+\.[0-9]+" | head -1
  environment:
    SOPS_DISABLE_VERSION_CHECK: "true"
  register: __check_sops_v_task
  ignore_errors: true
  changed_when: false

- name: Register preflight facts
  ansible.builtin.set_fact:
    __installed_sops_v: "{{ __check_sops_v_task.stdout | default('0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: >-
      Installed version: {{ __installed_sops_v if __check_sops_v_task is success else "Not Installed" }}
