- name: Installing sops {{ sops_v }}
  ansible.builtin.get_url:
    url: '{{ sops_release_url }}'
    dest: '{{ sops_bin_dst_effective }}/{{ sops_bin }}'
    mode: '0755'

- name: Ensure permissions
  ansible.builtin.file:
    path: '{{ sops_bin_dst_effective }}/{{ sops_bin }}'
    mode: '0755'
