- name: Check if binary already exists
  ansible.builtin.shell: 'command -v {{ flux_bin }}'
  register: flux_bin_exists
  ignore_errors: true
  changed_when: false

- name: Get installed version if any
  ansible.builtin.shell: flux --version | grep -E -o "[0-9]+\.[0-9]+\.[0-9]+"
  register: check_flux_v_task
  ignore_errors: true
  changed_when: false

- name: Registering preflight facts
  ansible.builtin.set_fact:
    __installed_flux_v: "{{ check_flux_v_task.stdout | default('0.0.0', true) }}"

- name: Reporting installed version
  ansible.builtin.debug:
    msg: >-
      Installed version: {{ __installed_flux_v if check_flux_v_task is success else "Not Found" }}
