kubecolor_v: v0.5.3
__kubecolor_nov: '{{ kubecolor_v | regex_replace("^v", "") }}'

kubecolor_arch_map:
  x86_64: amd64
  aarch64: arm64

kubecolor_arch: "{{ kubecolor_arch_map[ansible_facts.architecture] }}"

kubecolor_release_base_url: https://github.com/kubecolor/kubecolor/releases/download
kubecolor_release_archive_name: kubecolor_{{ __kubecolor_nov }}_{{ ansible_facts.system | lower }}_{{ kubecolor_arch }}.tar.gz
kubecolor_release_url: "{{ kubecolor_release_base_url }}/{{ kubecolor_v }}/{{ kubecolor_release_archive_name }}"

kubecolor_checksum_verify: false
kubecolor_checksums_url: '{{ kubecolor_release_base_url }}/{{ kubecolor_v }}/checksums.txt'

kubecolor_archive_download_dst: /tmp
kubecolor_extract_dst: '{{ kubecolor_archive_download_dst }}/kubecolor-{{ kubecolor_v }}'

kubecolor_bin: kubecolor

# kubecolor_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
kubecolor_bin_dst_default: /usr/local/bin
kubecolor_bin_dst_effective: >-
  {{ (kubecolor_bin_dst | default(tools_bin_dst | default(kubecolor_bin_dst_default))) }}
