flux_v: v2.7.5

flux_nov: "{{ flux_v | regex_replace('^v', '') }}"

flux_arch_map:
  x86_64: amd64
  aarch64: arm64

flux_arch: "{{ flux_arch_map[ansible_facts.architecture] }}"

flux_release_base_url: https://github.com/fluxcd/flux2/releases/download
flux_release_url: "{{ flux_release_base_url }}/v{{ flux_nov }}/flux_{{ flux_nov }}_{{ ansible_facts.system | lower }}_{{ flux_arch }}.tar.gz"

flux_archive_download_dst: /tmp
flux_full_download_path: '{{ flux_archive_download_dst }}/flux_{{ flux_v }}'

flux_bin_dst: /usr/local/bin
flux_bin: flux

flux_brew: false
flux_brew_package: fluxcd/tap/flux
flux_brew_state: latest
