- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: setup.yaml
  when:
  - stern_nov_v is version(installed_stern_v, 'ne')
