- name: Get the Minio server checksum
  ansible.builtin.set_fact:
    _minio_server_checksum: "{{ lookup('url', minio_server_sha256_url).split(' ')[0] }}"
  when: minio_validate_checksum

- name: Download Minio server artifact
  ansible.builtin.get_url:
    url: "{{ minio_server_url }}"
    dest: "/tmp/{{ __minio_server_artifact }}"
    owner: "root"
    group: "root"
    mode: "0755"
    checksum: "{{ 'sha256:' + _minio_server_checksum if minio_validate_checksum }}"
  register: _download_server
  until: _download_server is succeeded
  retries: 5
  delay: 2

- name: Move the Minio client binary artifact to the destination
  ansible.builtin.copy:
    src: "/tmp/{{ __minio_client_artifact }}"
    dest: "{{ minio_client_bin_dst }}/mc"
    mode: "0755"
    remote_src: true
  notify: Restart minio
  when:
  - not minio_install_packages

- name: Install Minio client RPM package
  ansible.builtin.dnf:
    name: "/tmp/{{ __minio_client_artifact }}"
    state: present
  notify: Restart minio
  when:
  - minio_install_packages
  - ansible_facts.os_family == "RedHat"

- name: Install Minio client DEB package
  ansible.builtin.apt:
    name: "/tmp/{{ __minio_client_artifact }}"
    state: present
  notify: Restart minio
  when:
  - minio_install_packages
  - ansible_facts.os_family == "Debian"

## For packages installation manage package upgrades
