vagrant_v: 2.4.9

vagrant_arch_map:
  x86_64: "amd64"
  i386: "386"
  aarch64: "arm64"

vagrant_arch: "{{ vagrant_arch_map[ansible_facts.architecture] }}"

vagrant_release_base_url: https://releases.hashicorp.com/vagrant
vagrant_release_artifact_name: vagrant_{{ vagrant_v }}_{{ ansible_facts.system | lower }}_{{ vagrant_arch }}.zip
vagrant_release_url: '{{ vagrant_release_base_url }}/{{ vagrant_v }}/{{ vagrant_release_artifact_name }}'

vagrant_archive_download_dst: /tmp
vagrant_full_download_path: '{{ vagrant_archive_download_dst }}/vagrant-{{ vagrant_v }}'

vagrant_bin: vagrant
# vagrant_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
vagrant_bin_dst_default: /usr/local/bin
vagrant_bin_dst_effective: >-
  {{ (vagrant_bin_dst | default(tools_bin_dst | default(vagrant_bin_dst_default))) }}
