- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: MacOS homebrew installation
  ansible.builtin.include_tasks: brew.yaml
  when:
  - eza_brew_install
  - ansible_facts.os_family == "Darwin"

- name: Release archive installation
  ansible.builtin.include_tasks: release_archive.yaml
  when:
  - _eza_nov is version(_installed_eza_v, 'ne')
  - ansible_facts.os_family != "Darwin"
  - not eza_brew_install
  - not eza_uninstall

# - name: Uninstall eza
#   ansible.builtin.include_tasks: uninstall.yaml
#   when:
#   - eza_uninstall
#   - not eza_brew_install
