- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: release.yaml
  when:
  - age_v is version(installed_age_v, 'ne')
  - not age_brew

- name: MacOS homebrew installation
  ansible.builtin.include_tasks: brew.yaml
  when:
  - age_v is version(installed_age_v, 'ne')
  - age_brew
  - ansible_facts['system'] == 'Darwin'
