- name: Getting release archive
  ansible.builtin.get_url:
    url: '{{ age_release_url }}'
    dest: '{{ age_archive_download_dst }}/{{ age_archive_name }}'
    checksum: "{{ '' if not age_archive_checksum is defined and not (age_archive_checksum | length > 0) else 'sha256:' +  age_archive_checksum }}"
    mode: '0644'

- name: Creating extraction dir {{ age_extraction_dst }}
  ansible.builtin.file:
    path: '{{ age_extraction_dst }}'
    state: directory
    mode: '0755'

- name: Extracting archive
  ansible.builtin.unarchive:
    src: '{{ age_archive_download_dst }}/{{ age_archive_name }}'
    dest: '{{ age_extraction_dst }}'
    remote_src: true
    extra_opts: ['--strip-components=1', '--show-stored-names']

- name: Installing age binary
  ansible.builtin.copy:
    src: '{{ age_extraction_dst }}/age'
    dest: '{{ age_bin_dst_effective }}/{{ age_bin }}'
    mode: '0755'
    remote_src: true

- name: Installing age-keygen binary
  ansible.builtin.copy:
    src: '{{ age_extraction_dst }}/age-keygen'
    dest: '{{ age_bin_dst_effective }}/{{ age_keygen_bin}}'
    mode: '0755'
    remote_src: true

- name: Deleting downloaded artifacts
  ansible.builtin.file:
    path: '{{ item }}'
    state: absent
  loop:
  - '{{ age_extraction_dst }}'
  - '{{ age_archive_download_dst }}/{{ age_archive_name }}'
