yq_v: v4.49.2

yq_arch_map:
  x86_64: amd64
  aarch64: arm64

yq_arch: "{{ yq_arch_map[ansible_facts['architecture']] }}"

yq_release_base_url: https://github.com/mikefarah/yq/releases/download
yq_release_url: '{{ yq_release_base_url }}/{{ yq_v }}/yq_{{ ansible_facts["system"] | lower }}_{{ yq_arch }}'
# maybe support install from archive too? .tar.gz

yq_checksum_verify: false
yq_checksums_url: "{{ yq_release_base_url }}/{{ yq_v }}/checksums"

yq_bin_dst: /usr/local/bin
yq_bin: yq

yq_brew: false
yq_brew_package: yq
yq_brew_state: latest
