yq_v: v4.52.4

_yq_arch_map:
  x86_64: amd64
  aarch64: arm64

yq_arch: "{{ _yq_arch_map[ansible_facts.architecture] }}"

yq_release_base_url: https://github.com/mikefarah/yq/releases/download
yq_release_url: '{{ yq_release_base_url }}/{{ yq_v }}/yq_{{ ansible_facts.system | lower }}_{{ yq_arch }}'
# TODO maybe support install from .tar.gz archive too?

yq_checksum_verify: false
yq_checksums_url: "{{ yq_release_base_url }}/{{ yq_v }}/checksums"

yq_bin: yq
# yq_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
yq_bin_dst_default: /usr/local/bin
yq_bin_dst_effective: >-
  {{ (yq_bin_dst | default(tools_bin_dst | default(yq_bin_dst_default))) }}
