terragrunt_v: v0.95.1

terragrunt_arch_map:
  x86_64: "amd64"
  i386: "386"
  aarch64: "arm64"

terragrunt_system_map:
  Darwin: darwin
  Linux: linux
  Win32NT: windows

terragrunt_arch: "{{ terragrunt_arch_map[ansible_facts.architecture] }}"
terragrunt_system: "{{ terragrunt_system_map[ansible_facts.system] }}"

terragrunt_release_base_url: https://github.com/gruntwork-io/terragrunt/releases/download
terragrunt_release_url: '{{ terragrunt_release_base_url }}/{{ terragrunt_v }}/terragrunt_{{ terragrunt_system }}_{{ terragrunt_arch }}'

terragrunt_bin_dst: /usr/local/bin
terragrunt_bin: terragrunt

terragrunt_brew: false
terragrunt_brew_package: terragrunt
terragrunt_brew_state: latest
