ruff_v: 0.14.10

ruff_compiler_gnu: true

_ruff_sys_map:
  Linux: unknown-linux
  Darwin: apple-darwin

_ruff_arch_map:
  x86_64: "x86_64"
  aarch64: "aarch64"

_ruff_compiler_map:
  Linux:
    x86_64: "{{ '-gnu' if ruff_compiler_gnu else '-musl' }}"
    aarch64: "{{ '-gnu' if ruff_compiler_gnu else '-musl' }}"
  Darwin:
    x86_64: ""
    aarch64: ""

_ruff_sys: "{{ _ruff_sys_map[ansible_facts.system] }}"
_ruff_arch: "{{ _ruff_arch_map[ansible_facts.architecture] }}"
_ruff_compiler: "{{ _ruff_compiler_map[ansible_facts.system][ansible_facts.architecture] }}"

ruff_release_base_url: https://github.com/astral-sh/ruff/releases/download
ruff_release_archive_name: ruff-{{ _ruff_arch }}-{{ _ruff_sys }}{{ _ruff_compiler }}.tar.gz
ruff_release_url: '{{ ruff_release_base_url }}/{{ ruff_v }}/{{ ruff_release_archive_name }}'

ruff_checksum_verify: false
ruff_checksums_url: '{{ ruff_release_base_url }}/{{ ruff_v }}/sha256.sum'

ruff_archive_download_dst: /tmp
ruff_extraction_path: '{{ ruff_archive_download_dst }}/ruff-{{ ruff_v }}'

ruff_bin: ruff
# ruff_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
ruff_bin_dst_default: /usr/local/bin
ruff_bin_dst_effective: >-
  {{ (ruff_bin_dst | default(tools_bin_dst | default(ruff_bin_dst_default))) }}
