yazi_v: v26.1.22

yazi_nov: '{{ yazi_v | regex_replace("^v", "") }}'

yazi_musl: false

_yazi_sys_map:
  Darwin: apple-darwin
  Linux: unknown-linux{{  '-gnu' if not yazi_musl else '-musl' }}

_yazi_arch_map:
  x86_64: x86_64
  aarch64: aarch64

_yazi_sys: "{{ _yazi_sys_map[ansible_facts.system] }}"
_yazi_arch: "{{ _yazi_arch_map[ansible_facts.architecture] }}"

_yazi_platform: "{{ _yazi_arch }}-{{ _yazi_sys }}"

yazi_release_base_url: https://github.com/sxyazi/yazi/releases/download
yazi_release_archive_name: yazi-{{ _yazi_platform }}.zip
yazi_release_url: '{{ yazi_release_base_url }}/{{ yazi_v }}/{{ yazi_release_archive_name }}'

yazi_archive_download_dst: /tmp
yazi_full_download_path: '{{ yazi_archive_download_dst }}/yazi-{{ yazi_v }}'

yazi_bin: yazi
# yazi_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
yazi_bin_dst_default: /usr/local/bin
yazi_bin_dst_effective: >-
  {{ (yazi_bin_dst | default(tools_bin_dst | default(yazi_bin_dst_default))) }}
