- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Release archive installation
  ansible.builtin.include_tasks: release_archive.yaml
  when:
  - _starship_nov is version(_installed_starship_v, 'ne')
