bat_v: v0.26.1

_bat_nov: "{{ bat_v | regex_replace('^v', '') }}"

# bat GNU, otherwise MUSL
bat_gnu: true
# many more options to consider; there are all sorts of platforms, architectures, and OS

bat_arch_map:
  x86_64: amd64
  aarch64: arm64

bat_arch: "{{ bat_arch_map[ansible_facts.architecture] }}"

bat_install_deb: true
bat_release_base_url: https://github.com/sharkdp/bat/releases/download
bat_release_url: "{{ bat_release_base_url }}/v{{ _bat_nov }}/bat-v{{ _bat_nov }}-{{ ansible_facts.architecture }}-unknown-{{ ansible_facts.system | lower }}-{{ 'gnu' if bat_gnu else 'musl' }}.tar.gz"
bat_deb_release_url: "{{ bat_release_base_url }}/v{{ _bat_nov }}/bat{{ '-musl' if not bat_gnu }}_{{ _bat_nov }}_{{ bat_arch }}.deb"

bat_archive_download_dst: /tmp
bat_full_download_path: '{{ bat_archive_download_dst }}/bat_{{ _bat_nov }}'

bat_bin: bat

# bat_bin_dst: /usr/local/bin
# tools_bin_dst: /usr/local/bin
bat_bin_dst_default: /usr/local/bin
bat_bin_dst_effective: >-
  {{ (bat_bin_dst | default(tools_bin_dst | default(bat_bin_dst_default))) }}

bat_man_install: true
bat_man_path: /usr/share/man

bat_zsh_completions_install: false
zsh_completions_path: /usr/share/zsh/site-functions
