- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Make sure unzip is installed
  ansible.builtin.package:
    name: unzip
    state: present

- name: Installation from release archive
  ansible.builtin.include_tasks: release.yaml
  when:
  - _crane_nov is version(_installed_crane_v, 'ne')
