delta_v: 0.18.2

# delta GNU, otherwise MUSL
delta_gnu: true
# many more to options to consider there are all sorts of platforms, architectures, and OS

delta_arch_map:
  x86_64: amd64
  aarch64: arm64

delta_arch: "{{ delta_arch_map[ansible_facts.architecture] }}"

delta_install_deb: false
delta_release_base_url: https://github.com/dandavison/delta/releases/download
delta_release_url: "{{ delta_release_base_url }}/{{ delta_v }}/delta-{{ delta_v }}-{{ ansible_facts.architecture }}-unknown-{{ ansible_facts.system | lower }}-{{ 'gnu' if delta_gnu else 'musl' }}.tar.gz"
delta_deb_release_url: "{{ delta_release_base_url }}/{{ delta_v }}/git-delta{{ '-musl' if not delta_gnu }}_{{ delta_v }}_{{ delta_arch }}.deb"

delta_archive_download_dst: /tmp
delta_full_download_path: '{{ delta_archive_download_dst }}/delta_{{ delta_v }}'

delta_bin_dst: /usr/local/bin
delta_bin: delta

delta_brew: false
delta_brew_package: git-delta
delta_brew_state: latest
