# on macos ansible host will require "export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES"
- name: Get checksum
  when: k3d_checksum_verify | bool
  block:
  - name: Registering checksums related vars
    ansible.builtin.set_fact:
      __checksums_url: "{{ k3d_release_base_url }}/{{ k3d_v }}/checksums.txt"
      _github_api_headers: "{{ {'GITHUB_TOKEN': lookup('ansible.builtin.env', 'GITHUB_TOKEN')} if (lookup('ansible.builtin.env', 'GITHUB_TOKEN')) else {} }}"

  - name: Get checksums list
    ansible.builtin.set_fact:
      __k3d_checksums: "{{ lookup('url', __checksums_url, headers=_github_api_headers, wantlist=True) | list }}"
    run_once: true
    until: __k3d_checksums is search(k3d_artifact_name)
    retries: 10

  - name: Getting checksum
    ansible.builtin.set_fact:
      __k3d_checksum: "{{ item.split(' ')[0] }}"
    loop: "{{ __k3d_checksums }}"
    when:
    - "(k3d_artifact_name) in item"

- name: Getting release binary artifact
  ansible.builtin.get_url:
    url: '{{ k3d_release_url }}'
    dest: '{{ k3d_bin_dst_effective }}/{{ k3d_bin }}'
    checksum: "{{ 'sha256:' + __k3d_checksum if k3d_checksum_verify else '' }}"

- name: Set permissions
  ansible.builtin.file:
    path: '{{ k3d_bin_dst_effective }}/{{ k3d_bin }}'
    mode: '0755'
