- name: Creating extraction dir {{ syncthing_extraction_path }}
  ansible.builtin.file:
    path: '{{ syncthing_extraction_path }}'
    state: directory
    mode: '0755'

- name: Getting release archive
  ansible.builtin.get_url:
    url: '{{ syncthing_release_url }}'
    dest: '{{ syncthing_archive_download_dst }}/{{ _syncthing_release_artifact_name }}'
    checksum: "{{ '' if not syncthing_archive_sha256sum else 'sha256:' + syncthing_archive_sha256sum }}"
    mode: '0644'

- name: Getting synthing release tar artifact archive contents
  ansible.builtin.unarchive:
    src: '{{ syncthing_archive_download_dst }}/{{ _syncthing_release_artifact_name }}'
    dest: '{{ syncthing_extraction_path }}'
    remote_src: true
    extra_opts:
    - --strip-components=1
  when: _syncthing_system not in ['windows', 'darwin']

- name: Deploying binary to {{ syncthing_bin_dst }}
  ansible.builtin.copy:
    src: '{{ syncthing_extraction_path }}/syncthing'
    dest: '{{ syncthing_bin_dst }}/{{ syncthing_bin }}'
    mode: '0755'
    remote_src: true

- name: Installing system service
  ansible.builtin.copy:
    src: '{{ syncthing_extraction_path }}/etc/linux-systemd/system/syncthing@.service'
    dest: /usr/lib/systemd/system/syncthing@.service
    mode: '0644'
    remote_src: true
  become: true
  when: ansible_facts.service_mgr == "systemd"

- name: Installing user service
  ansible.builtin.copy:
    src: '{{ syncthing_extraction_path }}/etc/linux-systemd/user/syncthing.service'
    dest: /usr/lib/systemd/user/syncthing.service
    mode: '0644'
    remote_src: true
  become: true
  when: ansible_facts.service_mgr == "systemd"

- name: Enabling DE integration
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: /usr/share/applications/{{ item | ansible.builtin.basename }}
    mode: '0644'
    remote_src: true
  loop:
  - '{{ syncthing_extraction_path }}/etc/linux-desktop/syncthing-start.desktop'
  - '{{ syncthing_extraction_path }}/etc/linux-desktop/syncthing-ui.desktop'
  become: true
  when: ansible_facts.service_mgr == "systemd"

- name: Deploy man pages
  when: syncthing_deploy_man
  block:
  - name: Getting source code archive
    ansible.builtin.get_url:
      url: https://github.com/syncthing/syncthing/archive/refs/tags/v{{ _syncthing_nov }}.tar.gz
      dest: '{{ syncthing_extraction_path }}/v{{ _syncthing_nov }}.tar.gz'
      mode: '0644'

  - name: Extracting man pages from source code archive
    ansible.builtin.unarchive:
      src: '{{ syncthing_extraction_path }}/v{{ _syncthing_nov }}.tar.gz'
      dest: '{{ syncthing_extraction_path }}'
      remote_src: true
      extra_opts:
      - --strip-components=1
      - syncthing-{{ _syncthing_nov }}/man

  - name: Locate man pages
    ansible.builtin.find:
      paths: "{{ syncthing_extraction_path }}/man"
      file_type: file
      recurse: true
      use_regex: true
      patterns:
      - '.*\.[0-9]+$'
    register: _found_syncthing_man_pages
    changed_when: false

  - name: Install man pages
    ansible.builtin.copy:
      src: "{{ item.path }}"
      dest: "{{ man_base_path }}/man{{ item.path | ansible.builtin.basename | regex_search('[0-9]+$') }}/{{ item.path | ansible.builtin.basename }}"
      mode: '0644'
      remote_src: true
    become: true
    loop: "{{ _found_syncthing_man_pages.files }}"
    loop_control:
      label: "{{ item.path }}"

- name: Deleting relese artifacts
  ansible.builtin.file:
    path: '{{ item }}'
    state: absent
  loop:
  - '{{ syncthing_archive_download_dst }}/{{ _syncthing_release_artifact_name }}'
  - '{{ syncthing_extraction_path }}'
  when: syncthing_cleanup_release_artifacts
