- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

# TODO: define packages based on OS/distribution RHEL/Debian
- name: Install requried packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  become: true
  loop:
  - gpg
  - unzip

- name: Installation from release archive
  ansible.builtin.include_tasks: archive.yaml
  when:
  - opentofu_v is version(installed_opentofu_v, 'ne')
  - not opentofu_brew

- name: MacOS homebrew installation
  ansible.builtin.include_tasks: brew.yaml
  when:
  - opentofu_v is version(installed_opentofu_v, 'ne')
  - opentofu_brew
  - ansible_facts['system'] == 'Darwin'
