- name: Preflight preparation
  ansible.builtin.include_tasks: preflight.yaml
  tags:
  - always

- name: Installation from release archive
  ansible.builtin.include_tasks: archive.yaml
  when:
  - __kubecolor_nov is version(installed_kubecolor_v, 'ne')
