uv_v: 0.9.17

_uv_sys_map:
  Linux: unknown-linux
  Darwin: apple-darwin
  Win32NT: pc-windows

_uv_arch_map:
  x86_64: "x86_64"
  aarch64: "aarch64"

uv_compiler_gnu: true

_uv_compiler_map:
  Linux:
    x86_64: "{{ '-gnu' if uv_compiler_gnu else '-musl' }}"
    aarch64: "{{ '-gnu' if uv_compiler_gnu else '-musl' }}"
  Darwin:
    x86_64: ""
    aarch64: ""

_uv_sys: "{{ _uv_sys_map[ansible_facts.system] }}"
_uv_arch: "{{ _uv_arch_map[ansible_facts.architecture] }}"
_uv_compiler: "{{ _uv_compiler_map[ansible_facts.system][ansible_facts.architecture] }}"

uv_release_base_url: https://github.com/astral-sh/uv/releases/download
uv_release_archive_name: uv-{{ _uv_arch }}-{{ _uv_sys }}{{ _uv_compiler }}.tar.gz
uv_release_url: '{{ uv_release_base_url }}/{{ uv_v }}/{{ uv_release_archive_name }}'

uv_checksum_verify: false
uv_checksums_url: '{{ uv_release_base_url }}/{{ uv_v }}/sha256.sum'

uv_archive_download_dst: /tmp
uv_extraction_path: '{{ uv_archive_download_dst }}/uv-{{ uv_v }}'

uv_bin_dst: /usr/local/bin
uv_bin: uv
uvx_bin: uvx
